/* Body styles */
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

body {
  background-image: url("../images/bg.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

/* Header styles */

header {
  width: 97%;
  margin: auto;
  height: 100vh;
  color: #fff;
  text-align: center;
  height: 20vh;
  padding: 20px;
  margin-top: 1rem;
}

header div {
  padding: 12px 0px;
  display: flex;
  gap: 1rem;
}


#login:hover {
  transform: scale(1.020);
  transition: 0.15s ease-in-out;
  background-color: rgba(0, 0, 0, 0.112);
  border: solid 1px;
  border-color: white;
  cursor: pointer;
}

#login:not(:hover) {
  transform: scale(1);
  transition: 0.15s ease-in-out;
}

header a {
  font-size: 1.2rem;
  font-family: Poppins-Regular;
  color: white;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 2rem;
  transition: 0.3s;
}

header a:hover {
  transform: scale(1.045);
  transition: 0.25s ease-in-out;
  background-color: rgba(0, 0, 0, 0.112);
  border: solid 2px;
}


/* Navigation styles */
  /* Navigation styles */
  nav {
    text-align: center;
    justify-content: space-evenly;
    background-color: transparent;
    color: #fff;
    padding: 20px;
    width: 97%;
  }
  
  nav select {
    font-family: Poppins-Regular;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    width: 10rem;
    height:3rem;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  nav select:focus {
    outline: none;
  }
  
  nav select:hover {
    transform: scale(1.065);
    transition: 0.25s ease-in-out;
  }

/* Main styles */
main {
  background-color: white;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
  padding: 3rem;
  border-radius: 2rem;
  size: 80%;
}

main h2:hover {
  transform: scale(1.079);
  transition: 0.3s;

}

section {
  flex-basis: 100%;
  margin-bottom: 80px;
}

table {
  border-collapse: collapse;
  width: 100%;
  /* align-self: center; */
  text-align: center;
}


table th,
table td {
  font-family: Poppins-Regular;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

table th {
  background-color: #aa83a4;
  color: #fff;
}


table th:hover {
  background-color: #aa83a4;
  transition: 0.2s;
}

table tr:hover {
  background-color: #E1CBD7;
  transform: scale(1.029);
  transition: 0.25s ease-in-out;
}


.HeaderOfWelcomePage{
  font-family: Poppins-Bold;
  font-size: 3rem;
  color: white;
  text-align: center;
  /* margin-top: 5rem; */
  /* margin-bottom: 5rem; */
}

@keyframes flicker {

  0%,
  100% {
    text-shadow: 0 0 10px white;
  }

  50% {
    text-shadow: 0 0 5px transparent;
  }
}

/* Aside styles */
aside {
  text-align: center;
  flex-basis: 30%;
  margin-bottom: 20px;
  padding: 20px;
  text-shadow: 0 0 5px white;
  animation: flicker 1s infinite;
}

/* Form styles */
form {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

section h2 {
  text-align: center;

}

form label {
  display: block;
  margin-bottom: 10px;
}

form input,
form textarea {
  display: block;
  width: 95%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  
}

form button {
  display: block;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #444;
}
#pointer-follow {
  width: 0.5em;
  height: 0.5em;
  background-color: #333333;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10;
  top: 0;
  left: 0;
  pointer-events: none;}

  .NavBar {
    background-color: rgba(0, 128, 128, 0.2);
    border-radius: 10px;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }