@tailwind base;
@tailwind components;
@tailwind utilities;
/* Body styles */
@font-face {
    font-family: Poppins-Regular;
    src: url('../public/fonts/poppins/Poppins-Regular.ttf');
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../public/fonts/poppins/Poppins-Regular.ttf');
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../public/fonts/poppins/Poppins-Regular.ttf');
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../public/fonts/poppins/Poppins-Regular.ttf');
  }
  
  body {
    background-image: url("../public/images/bg.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  /* Header styles */
  
  header {
    width: 97%;
    margin: auto;
    height: 100vh;
    color: #fff;
    text-align: center;
    height: 20vh;
    /* padding: 20px; */
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  header div {
    padding: 12px 0px;
    display: flex;
    gap: 1rem;
  }
  
  header a {
    font-size: 1.2rem;
    font-family: Poppins-Regular;
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 2rem;
    transition: 0.3s;
    
  }
  
  /* header a:hover {
    padding-left: 10%;
    transform: scale(1.025);
    transition: 0.25s ease;
    background-color: rgba(0, 0, 0, 0.112);
    border: solid 2px;
  } */
  
  header h1 {
    font-family: Poppins-Bold;
    margin: 0;
  }
  
  /* Navigation styles */
  nav {
    text-align: center;
    justify-content: space-evenly;
    background-color: transparent;
    color: #fff;
    padding: 20px;
    width: 97%;
  }
  
  nav select {
    font-family: Poppins-Regular;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.1s ease;
  }
  
  nav select:focus {
    outline: none;
  }
  
  nav select:hover {
    transform: scale(1.065);
    transition: 0.25s ease-in-out;
  }
  
  /* Main styles */
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .MainMessage{

    background-color: white;
    margin: 2rem;
    padding: 3rem;
    border-radius: 3rem;
    size: 50%;
    width: 70%;
    
  }
  
  main h2:hover {
    transform: scale(1.079);
    transition: 0.3s;
  
  }
  
  section {
    flex-basis: 100%;
    margin-bottom: 80px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    /* align-self: center; */
    text-align: center;
  }
  
  
  table th,
  table td {
    font-family: Poppins-Regular;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
  }
  
  table th {
    background-color: hsl(253, 58%, 49%);
    color: #fff;
  }
  
  
  table th:hover {
    background-color: #622ce2;
    transition: 0.2s;
  }
  
  table tr:hover {
    background-color: #85a8f3d2;
    transform: scale(1.029);
    transition: 0.25s ease-in-out;
  }
  
  
  footer {
    text-align: center;
  }
  
  
  /* Aside styles */
  
  .navButton{
    font-family: Poppins-Regular;
    font-size: 16px;
    color: white;
    border-radius: 20px;
    padding: 0.75rem; /* Remove padding */
    background-color: transparent; /* Use transparent background */
    border: none;
  }

  .navButton:hover {
      transform: scale(1.020);
      transition: 0.15s ease-in-out;
      background-color: rgba(0, 0, 0, 0.112);
      border: solid 1px;
      border-color: white;
      cursor: pointer;
  }
  .navButton:not(:hover) {
    transform: scale(1);
    transition: 0.15s ease-in-out;
    background: none;
} 

.HeaderOfWelcomePage{
  font-family: Poppins-Bold;
  font-size: 3rem;
  color: white;
  text-align: center;
  /* margin-top: 5rem; */
  margin-bottom: 5rem;
}
.welcomeMessageHeader{
  font-family: Poppins-Bold;
  font-size: 2rem;
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.welcomeText{
  font-family: Poppins-Regular;
  font-size: 1.2rem;
  color: black;
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
  text-align: justify;
}
#pointer-follow {
  width: 0.5em;
  height: 0.5em;
  background-color: #333333;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10;
  top: 0;
  left: 0;
  pointer-events: none;
}