/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  /* Navigation styles */
  nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #444;
    color: #fff;
    padding: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #333;
  }
  
  /* Main styles */
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
  }
  
  section {
    flex-basis: 49%;
    margin-bottom: 20px;
  }
  
  table {
    
    border-collapse: collapse;
    width: 100%;
  }

  
  table th,
  table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #333;
    color: #fff;
  }
  footer{
    text-align: center;
  }
  /* Aside styles */
  aside {
    text-align: center;
    flex-basis: 30%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #eee;
  }
  
  /* Form styles */
  form {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }
  section h2{
    text-align: center;

  }
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input,
  form textarea {
    display: block;
    width: 95%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  form button {
    display: block;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #444;
  }
  