/* ================Fonts================= */
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

i {
    opacity: 30%;
}

#login-form {
    padding: 2.5rem;
}

.login-body {
    background-image: url("../images/bg-login.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-style: solid;
    border-width: thin; 
    border-color: red;  */
    width: 100%;
    min-height: 100vh;
}

#class-form {
    /* border-style: solid;
    border-width: thin; 
    border-color: red;  */
    padding: 15px;
    width: 25rem;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.input-field {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 3rem;

}

.form-field {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    display: block;
    height: 55px;
    background: transparent;
    padding: 0 7px 0 30px;
    box-sizing: border-box;
    outline: none;
    border: none;
    width: 100%;
    position: relative;
    font-family: Poppins-Medium;
    font-size: 16px;

}

.field-label {
    font-family: Poppins-Regular;
    font-size: 14px;
}

#login-label {
    display: block;
    color: #333333;
    text-align: center;
    margin-bottom: 3rem;
    font-family: Poppins-Bold;
    font-size: 39px;
}

#login {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #e953e9, #63cfd1);
    border: none;
    border-radius: 25px;
    transition: background-position 0.3s ease, background-image 0.3s ease;
    background-size: 100% 100%;
    margin-top: 1rem;
}

#login:hover {
    background: -webkit-linear-gradient(right, #e953e9, #63cfd1);
    background-size: 200% 100%;
    background-position: right center;
    transition: background-position 0.3s ease, background-image 0.3s ease;
    cursor: pointer;
}


/*==================Submit Form page=================*/

.submission-page{
    background-image: url("../images/bg-submit.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    border-style: solid;
    border-width: thin; 
    border-color: red;
    margin: 0%;
    display: grid;
    grid-template-columns: 1fr 4fr;

}

.aside {
    min-height: 100vh;
    opacity: 80%;
    font-family: Poppins-Regular;
    font-size: 14px;
}

.main-section{
    /* border-style: solid;
    border-width: thin; 
    border-color: red; */
    overflow: hidden;
    padding: 1rem;
    background: #fff;
    display: inline-block;  
    display: flex;
    justify-content: center;
    align-items: center;

    
}
#submission-form{
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    /* justify-content: center;
    align-items: center; */
}

#form-title{
    padding: 0.5rem;
    background: #fff;
    overflow: hidden;
    margin-top: 6rem;
    text-align: center;
}

fieldset {
    border-radius: 1rem;
    margin: 0;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    border-style: double;
    border-style: dashed;
    }

#authors-information-form,#Paper-information-form{
    max-width: 100%;
    width: 100%;

}

input , textarea{
    border: thin solid black;
    border-left: 0rem;
    border-top: 0rem;
    border-right: 0rem; 
    padding: 0.5rem;
    font-family: Poppins-Medium;
    font-size: 12px;
    color: #2e2e2e;
    
    
}
label{
    margin: 0.5rem;  
    font-family: Poppins-Regular;
    font-size: 14px;
    
    
}
#presenter-checkbox{
    margin: 0.7rem;
    
}
#presenter-declaration{
    display: flex;
    justify-content:space-between;
    border-bottom: thin solid black;
    margin-top: 1rem;
    width: 50%;
}

#submit-paper-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 0 20px;
    width: 8rem;
    height: 2.5rem;
    background: #8964aa;
    border: none;
    border-radius: 2rem;
    transition: background-position 0.3s ease, background-image 0.3s ease;
    background-size: 100% 100%;
    margin-top: 1rem;
}
#submit-paper-btn:hover {
    background: -webkit-linear-gradient(right, #e953e9, #63cfd1);
    background-size: 200% 100%;
    background-position: right center;
    transition: background-position 0.3s ease, background-image 0.3s ease;
    cursor: pointer;
}

legend{
    font-family: Poppins-Bold;
    font-size: 25px;
}

.button_plus {
    width: 8rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 2rem;
    border-color: #a15dee;
    font-family: Poppins-Medium;
    font-size: 12px;
  
  }
  .button_plus:hover {
    background-color: #ab7ec5;
    transition: 0.2s;
  }
